<header class="
    flex flex-col h-screen 
    bg-[radial-gradient(ellipse_at_center,_var(--tw-gradient-stops))] from-yellow-100 via-green-100 to-yellow-50
">

    <nav class="flex items-center justify-between max-w-screen-2xl m-8">
        <a href="" class="font-black text-zinc-700  text-4xl  flex items-center gap-4">   
            <!-- <img src="../../assets/avatar.png" class="w-12 h-12 rounded-full bg-sky-400" alt=""/>        -->
            <span>JO</span>
        </a>
        <ul class="flex items-center gap-10 font-medium  text-lg">
            <a href="" class=""><li>Work</li></a>
            <a href="" class=""><li>About</li></a>
            <a href="" class=""><li>Contact</li></a>
        </ul>
    </nav>

    <div class="flex items-center h-3/4 justify-center gap-20 ">
        <div class="flex flex-col font-semibold text-6xl gap-2 text-zinc-700">
            <span class="">
                Hello! <br/> I'm <span class="">Josh</span>, a<br/> <span class="font-bold">Software Engineer</span><br/> based in Texas.
            </span>
            <p class="text-3xl font-light mt-2 ">I turn <span class="underline decoration-zinc-300 ">ideas</span> into cutting-edge <span class="italic">software</span>.</p>

            <ul class="flex gap-6 text-base  font-bold mt-12">
                <li class="hover:-translate-y-1 transition-all ease-linear duration-300 "><a href="" class="border border-zinc-500 rounded-full hover:bg-zinc-50 transition-all ease-linear duration-300  p-4 px-6">Start a project</a></li>
                <li class="hover:-translate-y-1 transition-all ease-linear duration-300"><a href="" class="border border-zinc-500 rounded-full hover:bg-zinc-50 transition-all ease-linear duration-300 p-4 px-6 ">See my work</a></li>
            </ul>
            <!-- <ul class="flex gap-4 mt-2">
                <li><a href="" class=""><fa-icon [icon]="faLinkedin" class="text-2xl text-zinc-600 "/></a></li>
                <li><a href="" class=""><fa-icon [icon]="faTwitter" class="text-2xl text-zinc-600"/></a></li>
                <li><a href="" class=""><fa-icon [icon]="faGithub" class="text-2xl text-zinc-600"/></a></li>
            </ul> -->
        </div>

    </div>
    

</header>

