<header class="rounded-3xl bg-zinc-50  p-8 w-3/4 ">
    <!-- <nav class="flex flex-col  items-center"> -->

        <!-- <div class="flex items-center gap-10"> -->
            <!-- <div class=" flex flex-col items-center  gap-3">
                <img src="../../assets/avatar.png" class="w-28 h-28 rounded-full bg-rose-500" alt=""/> 
                 <ul class="flex gap-4 mt-2">
                    <li><a href="" class=""><fa-icon [icon]="faLinkedin" class="text-2xl text-zinc-600 "/></a></li>
                    <li><a href="" class=""><fa-icon [icon]="faTwitter" class="text-2xl text-zinc-600"/></a></li>
                    <li><a href="" class=""><fa-icon [icon]="faGithub" class="text-2xl text-zinc-600"/></a></li>
                </ul>
            </div> -->
            <div class="flex flex-col items-center gap-3 ">
                <img src="../../assets/avatar.png" class="w-28 h-28 rounded-full bg-sky-300" alt=""/>
                <span class="text-2xl font-bold ">Hi, I'm Josh</span>
                <p class="text-sm font-light  ">a Texas-based Software Engineer focused on delivering end-to-end software solutions by leveraging agile methodologies and a dedication to lifelong learning. </p>
            </div>
        <!-- </div> -->

    <!-- </nav> -->

</header>