<header class="rounded-3xl border border-zinc-400 bg-opacity-90 p-4 ">
    <nav class="flex flex-col  items-center">

        <div class="flex items-center gap-12">
            <div class=" flex flex-col items-center  gap-4">
                <img src="../../assets/avatar.png" class="w-24 h-24 rounded-full bg-rose-500" alt=""/>
                <ul class="flex gap-4 mt-2">
                    <li><a href="" class=""><fa-icon [icon]="faLinkedin" class="text-2xl text-zinc-600 "/></a></li>
                    <li><a href="" class=""><fa-icon [icon]="faTwitter" class="text-2xl text-zinc-600"/></a></li>
                    <li><a href="" class=""><fa-icon [icon]="faGithub" class="text-2xl text-zinc-600"/></a></li>
                </ul>
            </div>
            <div class="flex flex-col gap-5 ">
                <span class="text-3xl  tracking-wide  font-bold ">Josh</span>
                <p class="text-sm font-light tracking-wider max-w-xs ">I'm Josh, a Texas-based Software Engineer focused on delivering end-to-end software solutions by leveraging agile methodologies and a dedication to lifelong learning. </p>
            </div>
        </div>

    </nav>

</header>