<div class="flex flex-col justify-center items-center max-w-screen-xl rounded-3xl my-10 mb-20 mx-auto gap-12">

    <div class="flex items-center gap-8 w-full ">
        <img src="../../assets/avatar.png" class="w-32 h-32 rounded-full bg-gradient-to-t from-blue-400 to-emerald-400" alt=""/>
        <div class="flex flex-col gap-4">
            <h2 class="text-zinc-700 font-bold text-5xl">About Me</h2>
            <p class=" text-xl font-light text-zinc-700">
                In my role as a Software Engineer, I focus on the following key areas:
            </p>
        </div>
    </div>

    <div class="grid grid-cols-3 gap-10">
        <p class="flex flex-col gap-2 text-zinc-700 font-light text-base">
            <span class="text-blue-400 font-semibold text-xl">Programming Concepts</span>
            I bring a comprehensive understanding of key programming concepts to my role as a software engineer. Having worked with a variety of programming languages and databases, I've developed a keen ability to learn and adapt to new technological landscapes quickly, ensuring I'm always ready to meet evolving project demands.
        </p>
        <p class="flex flex-col gap-2 text-zinc-700 font-light text-base">
            <span class="text-blue-400 font-semibold text-xl">Problem-Solving</span>
            My software engineering experience has honed my problem-solving skills. I excel at deconstructing complex problems, developing innovative solutions, and debugging with efficiency. I thrive on the challenges that emerge throughout the software development process, finding satisfaction in crafting effective solutions.
        </p>
        <p class="flex flex-col gap-2 text-zinc-700 font-light text-base">
            <span class="text-blue-400 font-semibold text-xl">Lifecycles and Methodologies</span>
            I have a thorough understanding of the software development lifecycle, with experience spanning from requirements analysis to deployment and maintenance. Familiarity with various methodologies such as Agile and Scrum has equipped me to adapt to different team dynamics and project requirements, ensuring I contribute to an efficient and effective development process.
        </p>
        <p class="flex flex-col gap-2 text-zinc-700 font-light text-base">
            <span class="text-blue-400 font-semibold text-xl">Communication</span>
            I pride myself on my strong communication skills. Whether I'm explaining complex technical concepts to non-technical team members, or discussing project requirements with clients, I strive for clarity, precision, and a mutual understanding.
        </p>
        <p class="flex flex-col gap-2 text-zinc-700 font-light text-base">
            <span class="text-blue-400 font-semibold text-xl">Teamwork</span>
            My experience has taught me the value of effective teamwork in software development. I believe in fostering a collaborative environment, sharing knowledge, and working cohesively with others towards a common goal.
        </p>
        <p class="flex flex-col gap-2 text-zinc-700 font-light text-base">
            <span class="text-blue-400 font-semibold text-xl">Customer Orientation</span>
            Understanding the needs of the customer is at the heart of what I do. I am dedicated to creating user-friendly, effective solutions that meet the specific needs of the end-users, ultimately helping businesses to thrive.
        </p>
    </div>

    <div class="flex flex-col justify-start items-center gap-6 w-full bg-zinc-100 rounded-3xl border border-zinc-300 p-4">
        <ul class="flex items-center gap-12 mt-2">
            <li><img src="../../assets/angular.svg" alt="" class="w-10 h-10" matTooltip="Angular"></li>
            <li><img src="../../assets/react.svg" alt="" class="w-10 h-10" matTooltip="React"></li>
            <li><img src="../../assets/ts.svg" alt="" class="w-10 h-10" matTooltip="TypeScript"></li>
            <li><img src="../../assets/js.svg" alt="" class="w-10 h-10" matTooltip="JavaScript"></li>
            <li><img src="../../assets/node.svg" alt="" class="w-10 h-10" matTooltip="Node.js"></li>
            <li><img src="../../assets/express.svg" alt="" class="w-10 h-10" matTooltip="Express.js"></li>
            <li><img src="../../assets/mongo.svg" alt="" class="w-10 h-10" matTooltip="MongoDB"></li>
            <li><img src="../../assets/postgres.svg" alt="" class="w-10 h-10" matTooltip="PostgreSQL"></li>
            <li><img src="../../assets/tailwind.svg" alt="" class="w-10 h-10" matTooltip="Tailwind CSS"></li>
            <li><img src="../../assets/git.svg" alt="" class="w-10 h-10" matTooltip="Git"></li>
            <li><img src="../../assets/vscode.svg" alt="" class="w-10 h-10" matTooltip="VS Code"></li>
            <li><img src="../../assets/jira.svg" alt="" class="w-10 h-10" matTooltip="Jira"></li>
        </ul>
    </div>
    

    
</div>
<hr class="mb-10 mx-20">











<!-- <div class="">
    <ul class="flex gap-4 mt-2">
        <li><a href="" class=""><fa-icon [icon]="faLinkedin" class="text-2xl text-zinc-600 "/></a></li>
        <li><a href="" class=""><fa-icon [icon]="faTwitter" class="text-2xl text-zinc-600"/></a></li>
        <li><a href="" class=""><fa-icon [icon]="faGithub" class="text-2xl text-zinc-600"/></a></li>
    </ul>
</div> -->