<div class="flex flex-col justify-center items-center max-w-screen-xl rounded-3xl my-10 mb-20 mx-auto">

    <div class="flex justify-between w-full ">
        <div class="flex flex-col gap-6">
            <h2 class="text-zinc-700 font-bold text-5xl">About Me</h2>
            <p class="w-1/2 text-xl font-light text-zinc-700">
                Hello, I'm Josh, a software engineer committed to creating innovative and effective digital solutions. I continuously strive to stay updated with the latest tech trends to ensure the delivery of high-quality work.
            </p>
        </div>


        <img src="../../assets/avatar.png" class="w-80 h-80 rounded-full bg-gradient-to-t from-blue-400 to-emerald-400" alt=""/>
    </div>

    <div class="">
        <ul class="flex gap-4 mt-2">
            <li><a href="" class=""><fa-icon [icon]="faReact" class="text-2xl text-zinc-600 "/></a></li>
            <li><a href="" class=""><fa-icon [icon]="faAngular" class="text-2xl text-zinc-600"/></a></li>
            <li><a href="" class=""><fa-icon [icon]="faJs" class="text-2xl text-zinc-600"/></a></li>
            <li><a href="" class=""><fa-icon [icon]="faNode" class="text-2xl text-zinc-600 "/></a></li>
            <li><a href="" class=""><fa-icon [icon]="faGit" class="text-2xl text-zinc-600"/></a></li>
            <li><a href="" class=""><fa-icon [icon]="faJira" class="text-2xl text-zinc-600"/></a></li>
        </ul>
    </div>

    
</div>












<!-- <div class="">
    <ul class="flex gap-4 mt-2">
        <li><a href="" class=""><fa-icon [icon]="faLinkedin" class="text-2xl text-zinc-600 "/></a></li>
        <li><a href="" class=""><fa-icon [icon]="faTwitter" class="text-2xl text-zinc-600"/></a></li>
        <li><a href="" class=""><fa-icon [icon]="faGithub" class="text-2xl text-zinc-600"/></a></li>
    </ul>
</div> -->