<div class="flex flex-col justify-center items-center max-w-screen-lg my-10 mb-10 mx-auto gap-16" id="about">

    <div class="flex items-center gap-8 w-full px-4 xl:px-0">
        <img src="../../assets/avatar.png" class="w-32 h-32 rounded-3xl bg-gradient-to-t from-blue-400 to-emerald-400" alt=""/>
        <div class="flex flex-col gap-4">
            <h2 class="text-zinc-700 font-bold text-3xl sm:text-5xl">About Me</h2>
            <p class=" text-base sm:text-xl font-light text-zinc-700">
                In my role as a Software Engineer, I focus on the following key areas:
            </p>
        </div>
    </div>

    <div class="grid sm:grid-cols-2 lg:grid-cols-3 gap-4 md:gap-6 px-4 xl:px-0">
        <p class="flex flex-col gap-2 text-zinc-700 font-light text-base border p-4 rounded-2xl ">
            <span class="text-zinc-700 font-medium text-lg flex flex-col gap-6"><fa-icon [icon]="faCode" class="text-5xl text-blue-400"/>Programming Concepts</span>
            I have a strong grasp of programming concepts, fluency in various languages and databases, and a knack for swift adaptation to new technologies, ensuring readiness for shifting project needs.
        </p>
        <p class="flex flex-col gap-2 text-zinc-700 font-light text-base border p-4 rounded-2xl ">
            <span class="text-zinc-700 font-medium text-lg flex flex-col gap-6"><fa-icon [icon]="faLight" class="text-5xl text-blue-400"/>Problem-Solving</span>
            I've honed problem-solving skills, specializing in decomposing complex issues, innovating solutions, and efficient debugging, all while thriving on the challenges and satisfaction derived from crafting effective outcomes.
        </p>
        <p class="flex flex-col gap-2 text-zinc-700 font-light text-base border p-4 rounded-2xl ">
            <span class="text-zinc-700 font-medium text-lg flex flex-col gap-6"><fa-icon [icon]="faSync" class="text-5xl text-blue-400"/>Lifecycles and Methodologies</span>
            With a deep understanding of the software development lifecycle and proficiency in Agile and Scrum methodologies, I skillfully adapt to varied team dynamics and project needs, ensuring an efficient and effective development process.
        </p>
        <p class="flex flex-col gap-2 text-zinc-700 font-light text-base border p-4 rounded-2xl ">
            <span class="text-zinc-700 font-medium text-lg flex flex-col gap-6"><fa-icon [icon]="faComments" class="text-5xl text-blue-400"/>Communication</span>
            I pride myself on my strong communication skills. Whether I'm explaining complex technical concepts to non-technical team members, or discussing project requirements with clients, I strive for clarity, precision, and a mutual understanding.
        </p>
        <p class="flex flex-col gap-2 text-zinc-700 font-light text-base border p-4 rounded-2xl ">
            <span class="text-zinc-700 font-medium text-lg flex flex-col gap-6"><fa-icon [icon]="faUser" class="text-5xl text-blue-400"/>Teamwork</span>
            My experience has taught me the value of effective teamwork in software development. I believe in fostering a collaborative environment, sharing knowledge, and working cohesively with others towards a common goal.
        </p>
        <p class="flex flex-col gap-2 text-zinc-700 font-light text-base border p-4 rounded-2xl ">
            <span class="text-zinc-700 font-medium text-lg flex flex-col gap-6"><fa-icon [icon]="faUserCheck" class="text-5xl text-blue-400"/>Customer Orientation</span>
            Understanding the needs of the customer is at the heart of what I do. I am dedicated to creating user-friendly, effective solutions that meet the specific needs of the end-users, ultimately helping businesses to thrive.
        </p>
    </div>

    <div class="flex flex-col justify-start items-center gap-6 w-full px-4 xl:px-0">
        <ul class="grid grid-cols-4 sm:grid-cols-6 lg:grid-cols-12 gap-12 mt-2">
            <li><img src="../../assets/angular.svg" alt="" class="w-10 h-10" matTooltip="Angular"></li>
            <li><img src="../../assets/react.svg" alt="" class="w-10 h-10" matTooltip="React"></li>
            <li><img src="../../assets/ts.svg" alt="" class="w-10 h-10" matTooltip="TypeScript"></li>
            <li><img src="../../assets/js.svg" alt="" class="w-10 h-10" matTooltip="JavaScript"></li>
            <li><img src="../../assets/node.svg" alt="" class="w-10 h-10" matTooltip="Node.js"></li>
            <li><img src="../../assets/express.svg" alt="" class="w-10 h-10" matTooltip="Express.js"></li>
            <li><img src="../../assets/mongo.svg" alt="" class="w-10 h-10" matTooltip="MongoDB"></li>
            <li><img src="../../assets/postgres.svg" alt="" class="w-10 h-10" matTooltip="PostgreSQL"></li>
            <li><img src="../../assets/tailwind.svg" alt="" class="w-10 h-10" matTooltip="Tailwind CSS"></li>
            <li><img src="../../assets/git.svg" alt="" class="w-10 h-10" matTooltip="Git"></li>
            <li><img src="../../assets/vscode.svg" alt="" class="w-10 h-10" matTooltip="VS Code"></li>
            <li><img src="../../assets/jira.svg" alt="" class="w-10 h-10" matTooltip="Jira"></li>
        </ul>
    </div>
    

    
</div>
