<div class="flex  items-center max-w-screen-xl  mx-auto rounded-3xl my-10 mb-20 ">

    <div class="flex flex-col w-1/2 gap-8">
        <div class="flex flex-col gap-3 pl-3">
            <h2 class="text-5xl text-zinc-700 font-bold">
                BattleOptions 
            </h2>
            <span class=" text-xl font-light text-zinc-500">Full Stack Development</span>
        </div>

        <div class=" pl-3 pr-8 flex flex-col gap-3 ">
            <span class="font-light text-xl text-zinc-700">
                This project successfully replaced a complex, Excel-based <br>options contest with an efficient, automated real-time platform.
            </span>
            <span class=" text-sm text-zinc-700 font-light">
                <span class="font-semibold mr-2">Stack:</span> React | Node | Express | MongoDB | Tailwind CSS |  Digital Ocean
            </span>
            <a href="" class="mt-4 text-lg font-bold text-zinc-700 hover:text-zinc-500 w-36">
                View Project 
                <fa-icon [icon]="arrowUp" class="text-blue-400 ml-2"/>
            </a>
        </div>
        
        <div class="">
            <img src="../../assets/lightfinal.png" alt="" class="drop-shadow-2xl rounded-xl" />
        </div>

        <!-- <div class="pl-3">
            <span class=" text-sm text-zinc-700 font-light">
                <span class="font-semibold mr-2">Stack:</span> React | Node | Express | MongoDB | Tailwind CSS |  Digital Ocean
            </span>
        </div> -->
    </div>


    <div class=" w-1/2 rounded-3xl  flex">
        <div class=" grid grid-cols-2 gap-6">
            <p class="flex flex-col gap-2 font-light text-base text-zinc-700 bg-zinc-100 border border-zinc-300 rounded-3xl p-4 ">
                <span class="font-semibold text-lg">1. Problem</span>
                A manual, Excel-based options chain contest was complex and inefficient, making data retrieval difficult and slowing decision-making processes. The lack of interactive elements and incentives led to low user engagement.
            </p>

            <p class="flex flex-col gap-2 font-light text-base text-zinc-700 bg-zinc-100 border border-zinc-300 rounded-3xl p-4">
                <span class="font-semibold text-lg">2. Objective</span>
                To automate the contest and make it real-time, with up-to-date, high-quality data, improved decision-making accuracy, and enhanced operational efficiency. An additional goal was to boost user interaction, foster user commitment, and generate business leads.
            </p>

            <p class="flex flex-col gap-2 font-light text-base text-zinc-700 bg-zinc-100 border border-zinc-300 rounded-3xl p-4">
                <span class="font-semibold text-lg ">3. Method</span>
                Develop a software solution to replace the Excel spreadsheet, incorporating a custom search tool for efficient data retrieval. The new platform was designed to deliver real-time results and featured a dynamic leaderboard to promote competition and user engagement.
            </p>

            <p class="flex flex-col gap-2 font-light text-base text-zinc-700 bg-zinc-100 border border-zinc-300 rounded-3xl p-4">
                <span class="font-semibold text-lg ">4. Implementation</span>
                Used advanced coding techniques to build the automated platform. The custom search tool was implemented, significantly streamlining data retrieval and decision-making. A live leaderboard was added to foster competition and incentivize long-term commitment.
            </p>

            <p class="flex flex-col gap-2 font-light text-base text-zinc-700 bg-zinc-100 border border-zinc-300 rounded-3xl p-4">
                <span class="font-semibold text-lg ">5. Result</span>
                The transition from a manual, Excel-based system to a real-time platform significantly improved operational efficiency and decision-making accuracy. The leaderboard sparked user engagement and has been successful in generating business leads. 
            </p>

            <p class="flex flex-col gap-2 font-light text-base text-zinc-700 bg-zinc-100 border border-zinc-300 rounded-3xl p-4">
                <span class="font-semibold text-lg ">6. Conclusion</span>
                This software engineering project effectively solved a complex problem, transforming a manual process into an automated one, boosting operational efficiency, enhancing decision-making, and fostering business development.
            </p>
        </div>
    </div>


</div>
<hr class="mb-10 mx-20">