<div @fadeIn class="flex flex-col  items-center max-w-screen-xl  mx-auto rounded-3xl my-14 mb-20 px-4 gap-16  xl:px-0" id="work">

    <div class="flex flex-col lg:flex-row w-full  gap-10 justify-center">

        <div class="flex flex-col gap-3 pl-3 lg:w-1/2">
            <h2 class="text-5xl text-zinc-700 font-bold">
                BattleOptions
            </h2>
            <span class=" text-xl font-light text-zinc-500">Full Stack Development</span>

            <span class="font-light text-lg text-zinc-700 mt-4">
                Successfully transitioning from a complex, Excel-based system, this project introduced an efficient, automated real-time platform for an options contest. Users can select an options contract through a custom search tool, with data updating in real time once the market opens. The platform features a leaderboard that ranks user performance and charts that visually represent market trends and user biases, creating a competitive and educational environment for stock market enthusiasts.
            </span>
            <span class=" items-end text-base md:text-lg text-zinc-700 font-light mt-4">
                <span class="font-medium mr-2">Stack:</span> React | Node | Express | MongoDB | Tailwind CSS |  Digital Ocean
            </span>
            <a href="https://contest.stratalerts.com/" target="_blank" class="mt-8 text-lg font-medium text-zinc-700 hover:text-zinc-500 w-36">
                View Project 
                <fa-icon [icon]="arrowUp" class="text-blue-400 ml-2"/>
            </a>
        </div>
        
        <div class="lg:w-1/2 justify-center flex lg:justify-end">
            <img src="../../assets/lightfinal.png" alt="" class="drop-shadow-2xl rounded-xl" />
        </div>

    </div>


    <div class="w-full  rounded-3xl  flex flex-col gap-4">
        <h2 class="text-3xl text-zinc-700 font-bold pl-3">
            Case Study
        </h2>
        <div class=" grid sm:grid-cols-2 md:grid-cols-3 gap-6">
            <p class="flex flex-col gap-2 font-light text-base text-zinc-700 bg-gradient-to-b from-zinc-50 to-zinc-100 border border-zinc-300 rounded-3xl p-4 ">
                <span class="font-medium text-lg ">1. Problem</span>
                A manual, Excel-based options chain contest was complex and inefficient, making data retrieval difficult and slowing decision-making processes. The lack of interactive elements and incentives led to low user engagement.
            </p>

            <p class="flex flex-col gap-2 font-light text-base text-zinc-700 bg-gradient-to-b from-zinc-50 to-zinc-100 border border-zinc-300 rounded-3xl p-4">
                <span class="font-medium text-lg">2. Objective</span>
                To automate the contest and make it real-time, with up-to-date, high-quality data, improved decision-making accuracy, and enhanced operational efficiency. An additional goal was to boost user interaction, foster user commitment, and generate business leads.
            </p>

            <p class="flex flex-col gap-2 font-light text-base text-zinc-700 bg-gradient-to-b from-zinc-50 to-zinc-100 border border-zinc-300 rounded-3xl p-4">
                <span class="font-medium text-lg ">3. Method</span>
                Develop a software solution to replace the Excel spreadsheet, incorporating a custom search tool for efficient data retrieval. The new platform was designed to deliver real-time results and featured a dynamic leaderboard to promote competition and user engagement.
            </p>

            <p class="flex flex-col gap-2 font-light text-base text-zinc-700 bg-gradient-to-b from-zinc-50 to-zinc-100 border border-zinc-300 rounded-3xl p-4">
                <span class="font-medium text-lg ">4. Implementation</span>
                Used advanced coding techniques to build the automated platform. The custom search tool was implemented, significantly streamlining data retrieval and decision-making. A live leaderboard was added to foster competition and incentivize long-term commitment.
            </p>

            <p class="flex flex-col gap-2 font-light text-base text-zinc-700 bg-gradient-to-b from-zinc-50 to-zinc-100 border border-zinc-300 rounded-3xl p-4">
                <span class="font-medium text-lg ">5. Result</span>
                The transition from a manual, Excel-based system to a real-time platform significantly improved operational efficiency and decision-making accuracy. The leaderboard sparked user engagement and has been successful in generating business leads. 
            </p>

            <p class="flex flex-col gap-2 font-light text-base text-zinc-700 bg-gradient-to-b from-zinc-50 to-zinc-100 border border-zinc-300 rounded-3xl p-4">
                <span class="font-medium text-lg ">6. Conclusion</span>
                This software engineering project effectively solved a complex problem, transforming a manual process into an automated one, boosting operational efficiency, enhancing decision-making, and fostering business development.
            </p>
        </div>
    </div>


</div>
<hr class="mb-10 mx-5 md:mx-20">