<div @fadeIn class="flex flex-col  items-center max-w-screen-xl  mx-auto my-14 pt-12 sm:pt-20 mb-10 md:mb-20 px-4 gap-16  xl:px-0 " id="work">

    <div class="flex flex-col lg:flex-row w-full  gap-10 justify-center">

        <div class="flex flex-col gap-1 sm:gap-3  lg:w-1/2">
            <h2 class="text-3xl sm:text-5xl text-zinc-700 dark:text-zinc-100 font-bold">
                {{tfo.title}}
            </h2>
            <span class=" text-xl font-light text-zinc-500 dark:text-zinc-300">{{tfo.type}}</span>

            <span class="font-light text-base sm:text-lg text-zinc-700 dark:text-zinc-400 mt-4">
                {{tfo.desc.one}}
            </span>
            <span class=" items-end text-base md:text-lg text-zinc-700 dark:text-zinc-300 font-light mt-4">
                <span class="font-medium mr-2">Stack:</span> {{tfo.stack}}
            </span>
            <a [href]="tfo.link" target="_blank" alt="view battle options project" class="mt-4 text-lg font-medium text-zinc-700 dark:text-zinc-100 hover:text-zinc-500 w-36">
                View Project 
                <fa-icon [icon]="arrowUp" class="text-blue-400 ml-2"/>
            </a>
        </div>
        
        <div class="lg:w-3/4 justify-center  lg:justify-end overflow-clip p-6 md:p-8 rounded-2xl bg-gradient-to-br from-blue-400 to-emerald-400 flex flex-col gap-4 relative">
            <img src="../../assets/TFO.png" alt="project image preview" 
                class="rounded-xl drop-shadow-xl hover:scale-110 hover:rotate-3 transition-all ease-linear duration-300" 
            />
            <img src="../../assets/tfomobile.png" alt="project image preview" 
            class="rounded-xl drop-shadow-xl hover:scale-110 hover:rotate-3 transition-all ease-linear duration-300 w-1/5 absolute right-5 bottom-5 ring-2 ring-white" 
        />
        </div>
        

    </div>





</div>
