@tailwind base;
@tailwind components;
@tailwind utilities;

/* @font-face {
    font-family: 'Silka Regular';
    src: url('/assets/fonts/silka-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  } */
  
  @import '@angular/material/prebuilt-themes/indigo-pink.css';


  

body { 
  margin: 0; 
  /* font-family: 'Neue Haas Grotesk Display Pro', sans-serif; */
                                                
  font-family: 'Inter', sans-serif;
  background-color: rgb(239, 239, 239);
}
